<!--           ,
              / \,,_  .'|
           ,{{| /}}}}/_.'
          }}}}` '{{'  '.
        {{{{{    _   ;, \
     ,}}}}}}    /o`\  ` ;)
    {{{{{{   /           (
    }}}}}}   |            \
   {{{{{{{{   \            \
   }}}}}}}}}   '.__      _  |
   {{{{{{{{       /`._  (_\ /
    }}}}}}'      |    //___/
    `{{{{`       |     '__'
     }}}`                         -->
<!doctype html>
<html>
<head id="heady">
    <title>HORSEJS.COM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    body, h1 {margin:0;}
    @font-face {
        font-family:'Bridle';
        src: url('/font/bridle.eot');
        src: url('/font/bridle.eot?#iefix') format('embedded-opentype'), url('/font/bridle.woff') format('woff'), url('/font/bridle.ttf') format('truetype'), url('/font/bridle.svg#bridle') format('svg');
        font-weight:normal;font-style:normal;
    }
    body {
        font-family:Bridle;
    }
    header, article {
        width:90%;margin:0 auto;

    }
    article div {}
    h1 {
        color:#fff;
        text-transform:uppercase;
    }
    footer {
        background-image:url(/images/mask.jpg);
        background-repeat:no-repeat;
        background-position: 50% 100%;
        background-size:15%;
    }
    @media only screen and (min-width: 481px) {/*desktop*/
        body {
            background-image:url(/images/bg-full.jpg);
            background-size:100%;
            background-repeat:no-repeat;
            background-position: 50% 0;
        }

        h1 {
            font-size:4.0em;
        }

        .twitter-share-button {
            position:absolute;
            top:3.3%;right:2%;
        }

        article div {
            background-color:#fff;
            position:absolute;
            border:10px solid #fff;
            position:absolute;
            bottom:33%;top:10%;left:5%;right:5%;
        }

        article div div#corral {
            border:0;
            position:absolute;
            bottom:0%;top:0%;left:0%;right:0%;
            font-size:4.0em;color:#000;
            line-height:1.7em;
            padding:0.3em;
            background-size:100%;
            background-repeat:no-repeat;
            background-position: 50% 50%;
            opacity:0.5;
        }


        article div div {
            border:0;
            position:absolute;
            bottom:0%;top:0%;left:0%;right:0%;
            font-size:4.0em;color:#000;
            line-height:1.7em;
            padding:0.3em;
            background-color:transparent;
        }

        .giddyup {
            position:relative;
            text-transform: uppercase;
            width: 200px;
            text-align: center;
            font-size: 2.0em;
            text-decoration: none;
            margin: 0 auto;
            display:none;
            font-family:Bridle;
            background:none;
            border:0;
            margin-top: 26%;
            color:#fff;
            text-shadow:
                2px 2px 4px rgba(0,0,0,0.4),
                -2px 2px 4px rgba(0,0,0,0.4),
                2px -2px 4px rgba(0,0,0,0.4),
                -2px -2px 4px rgba(0,0,0,0.4)
            ;
        }

        .giddyup:hover {
            color:#ff0;
        }

        footer {
            position:absolute;top:74%;
            bottom:0;left:0;right:0;
            background-color:#fff;
            padding-top:5%;
            font-size:2.0em;
            text-align:center;
        }
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {/*iphone5*/
        body {
            background-image:url(/images/bg-full.jpg);
            background-size:100%;
            background-repeat:no-repeat;
            background-position: 50% 0;
        }

        h1 {
            font-size:2.0em;
        }

        .twitter-share-button {
            position:absolute;
            top:2.3%;right:2%;
        }

        article div {
            background-color:#fff;
            position:absolute;
            border:10px solid #fff;
            position:absolute;
            bottom:23%;top:20%;left:5%;right:5%;
        }

        article div div#corral {
            border:0;
            position:absolute;
            bottom:0%;top:0%;left:0%;right:0%;
            font-size:2.0em;color:#000;
            line-height:1.0em;
            padding:0.3em;
            background-size:100%;
            background-repeat:no-repeat;
            background-position: 50% 50%;
            opacity:0.5;
        }


        article div div {
            border:0;
            position:absolute;
            bottom:0%;top:0%;left:0%;right:0%;
            font-size:2.0em;color:#000;
            line-height:1.0em;
            padding:0.3em;
            background-color:transparent;
        }

        .giddyup {
            position:relative;
            text-transform: uppercase;
            width: 200px;
            text-align: center;
            font-size: 1.2em;
            text-decoration: none;
            margin: 0 auto;
            display:none;
            font-family:Bridle;
            background:none;
            border:0;
            margin-top: 20%;
            color:#fff;
            text-shadow:
                2px 2px 4px rgba(0,0,0,0.4),
                -2px 2px 4px rgba(0,0,0,0.4),
                2px -2px 4px rgba(0,0,0,0.4),
                -2px -2px 4px rgba(0,0,0,0.4)
            ;
        }

        .giddyup:hover {
            color:#ff0;
        }

        footer {
            position:absolute;top:80%;
            bottom:0;left:0;right:0;
            background-color:#fff;
            padding-top:5%;
            font-size:2.0em;
            text-align:center;
        }
    }
    @media only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 568px) 
        and (orientation : landscape) {/*iphone5 landscape*/

        article div {
            background-color:#fff;
            position:absolute;
            border:5px solid #fff;
            position:absolute;
            bottom:28%;top:15%;left:5%;right:5%;
        }
        footer {
            position:absolute;top:75%;
            bottom:0;left:0;right:0;
            background-color:#fff;
            padding-top:0%;
        }

    }
    </style>
    <script>
    // MiniAjax library https://code.google.com/p/miniajax/
    function $(e){if(typeof e=='string')e=document.getElementById(e);return e};
    function collect(a,f){var n=[];for(var i=0;i<a.length;i++){var v=f(a[i]);if(v!=null)n.push(v)}return n};

    ajax={};
    ajax.x=function(){try{return new ActiveXObject('Msxml2.XMLHTTP')}catch(e){try{return new ActiveXObject('Microsoft.XMLHTTP')}catch(e){return new XMLHttpRequest()}}};
    ajax.serialize=function(f){var g=function(n){return f.getElementsByTagName(n)};var nv=function(e){if(e.name)return encodeURIComponent(e.name)+'='+encodeURIComponent(e.value);else return ''};var i=collect(g('input'),function(i){if((i.type!='radio'&&i.type!='checkbox')||i.checked)return nv(i)});var s=collect(g('select'),nv);var t=collect(g('textarea'),nv);return i.concat(s).concat(t).join('&');};
    ajax.send=function(u,f,m,a){var x=ajax.x();x.open(m,u,true);x.onreadystatechange=function(){if(x.readyState==4)f(x.responseText)};if(m=='POST')x.setRequestHeader('Content-type','application/x-www-form-urlencoded');x.send(a)};
    ajax.get=function(url,func){ajax.send(url,func,'GET')};
    ajax.gets=function(url){var x=ajax.x();x.open('GET',url,false);x.send(null);return x.responseText};
    ajax.post=function(url,func,args){ajax.send(url,func,'POST',args)};
    ajax.update=function(url,elm){var e=$(elm);var f=function(r){e.innerHTML=r};ajax.get(url,f)};
    ajax.submit=function(url,elm,frm){var e=$(elm);var f=function(r){e.innerHTML=r};ajax.post(url,f,ajax.serialize(frm))};
    </script>
    <script>
    <% if (tid) { %>
        window.tid = '<%= tid %>';
    <% } %>
    </script>
</head>
<body id="stallion">
<header>
    <h1>HorseJs</h1>
    <% if (false && !user) { %>
        <p>
            <a id="signin" href="/signin_with_twitter">Sign In</a>
        </p>
    <% } else if (false) { %>
        Welcome back, <%= user.screen_name %>
    <% } %>
    <span id="twitterHookLink"></span>
</header>
<article id="saddle"><div><div id="corral"></div><div id="neigh"></div></div><button id="giddyup" class="giddyup" >GiddyUp &#187;</button></article>
<footer>thank you <a href="http://twitter.com/horse_js">horse</a>.</footer>
<div id="hook"></div><div id="twat"></div>
<script src="/js/soundmanager2-nodebug-jsmin.js"></script>
<script type="text/javascript" src="/js/horseapi.js"></script>
<script type="text/javascript" src="/js/h.js"></script>
</body>
</html>
