RewriteEngine on
ErrorDocument 404 http://horsejs.com/neigh.html
RewriteRule ^index.html$ http://localhost:3000/ [P]
RewriteRule ^(fetch.+)$ http://localhost:3000/$1 [P]
RewriteRule ^(more.+)$ http://localhost:3000/$1 [P]
RewriteRule ^(id/.+)$ http://localhost:3000/$1 [P]

